
<font color="PowderBlue"><center><h1> Vic's Coffee Review Website! </h1></center></font>

<div ng-controller="CoffeesCtrl">

Search: <input type="text" ng-model="coffeeFilter" />
<br>
<br>
<table class="table table-bordered">
	<tr class = "info"><th>Reviews</th>
	<th>Brand</th><th>Coffee Title</th>
	<th>Country</th></tr>
	<tr ng-repeat="coffee in coffees | filter: coffeeFilter | orderBy:'name'">
		<td class = "success"><a href="#!/reviews/{{coffee.id}}">Reviews</a></td>
		<td class = "danger">{{coffee.brand}}</td>
		<td class = "success">{{coffee.name}}</td>
		<td class = "danger">{{coffee.country}}</td>
	</tr>
</table>

</div>
