<html>
<font color="PowderBlue"><center><h1> Vic's Coffee Review Website! </h1></center></font>
<br>
<br>
<body ng-app="myApp.reviews">
<div ng-controller="ReviewsCtrl">
	<table class="table table-bordered">

	<tr class = "info"><th>Reviewer:</th>
	<th>Comment</th>
	<th>Rating</th></tr>
	<tr ng-repeat="item in v.route.reviews">
		<td class = "success">{{item.reviewer}}</td>
		<td class = "danger">{{item.comment}}</td>
		<td class = "success">{{item.rating}}</td>

	</tr>
</table>


</div>
</body>
